@model CSharp5_Share.Models.User
<form asp-action="Register">
    <div class="form">
        <label>Username:</label>
        <input type="text" class="form-control" asp-for="UserName" />
    </div>
    
    <div class="form">
        <label>Password:</label>
        <input type="password" class="form-control" asp-for="PassWord" />
    </div>
   

    <button type="submit" class="btn btn-primary" style="margin-left: 600px;margin-top: 20px;">Register</button>
</form>

    
    


